.hero{
    position: relative;
    padding: 130px 0 259px;
    font-size: 50px;
    line-height: 115%;
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 150%;
    max-width: 484px;
    margin-bottom: 14px;
}
.herocontainer{
    position: relative;
    color: black;
    margin: auto;
  width: 50%;
  border: 3px solid transparent;
  padding: 10px;
}
.heroinformation{
    width: 992px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 46px;
    border: 3px solid transparent;
    padding: 20px;
    display: flex;
    
  border: 3px solid transparent;
  padding: 30px;
}
.herotitle{
    font-size: 50px;
    line-height: 115%;
    margin-bottom: 24px;
}
.herotitlered{
    color: red;
}
.herotext{
    font-size: 24px;
    line-height: 150%;
    max-width: 484px;
    margin-bottom: 14px;
}
.herotextred{
    color: red;
    font-style: italic;
}

.heroimg{
    width: fit-content;
    height: fit-content;
    position: absolute;
    z-index: 5;
    right: 0;
    bottom: -80px;
    display: block;
}
.herobackground{
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.herobackgroundchat{
    position: absolute;
      left: 50%;
      transform: translateX(-40%);
      pointer-events: unset;
      size: 10px;
}
.herobackgroundforum{
    position: absolute;
      bottom: -16px;
      left: 50%;
      transform: translateX(-200px);
      size: 10px;
}

.herobackgroundglass{
    position: absolute;
    left: 85%;
    bottom: 60px;
    transform: translateX(-30px);
    size: 5px;
}
.herobackgroundline{
    position: absolute;
      left: 50%;
      bottom: 100px;
      transform: translateX(380px);
      size: 10px;
}
.float-child {
    width: 50%;
    float: left;
    padding: 20px;
    border: 2px solid transparent;
}  
svg {
    width: inherit;
    height: inherit;
   }

.button{
    background: linear-gradient(skyblue, skyblue);
    padding: 15px;
    width: 80%;
    margin: 0 auto;
    border-radius: 25px;
    font-weight: 900;
}

.button :hover{
    background: linear-gradient(black, black);
}