.black {
    color: black !important;
}
.createpost{
    background-color: hsl(215, 61%, 93%);
    border:.14vw rgb(200, 200, 200) solid;
    border-radius: .5vw;
    width:30vw;
    position: absolute;
    left:58vw;
    font-size: 1.25vw;
    font-family: monospace;

}

.createpost, h2{
    text-align: center;
}

.createpost, input{
padding: 25px;
gap: 25px;
margin-bottom: 2vw;
border:.14vw rgb(200, 200, 200) solid;
}

.createpostbuttondiv{

display: inline-block;
}
.createpostbutton{
background-color: skyblue;
}
.createpostbutton :hover{
background-color: black;
}



.postbody{
    width:75%;
    height: 200px;
     margin: 0 -100px;
}
.posttitle{
    width: 30%;
}
.postlink{
    width: 30%;
}

/* All Posts Div */
@media (min-width: 640px){
    .allposts{
        border-radius: 4px;
        padding-left: 40px;
        width:40vw;
        position: absolute;
        left:10vw;
        top:15vw;

    }
}
.postview{
    background-color: rgb(252, 254, 254);
    border:.14vw rgb(200, 200, 200) solid;
    border-radius: .5vw;
    color: rgb(0, 0, 0);
    padding:4vw;
    margin-bottom: 3vw;
    font-size: 1vw;
}
.post-title{
    color: rgb(138, 140, 140);
    font-size: 3vw;
}
.commentbutton{
    font-size: 1vw;
}
.post-author, .post-date{
    color:rgb(138, 140, 140);
}
.img-container {
    display: block;
    max-width: 300px;
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.forumImg{
    position: relative;
    top:2vw;
    margin:  auto;
    height: 250px;
    width: 250px;
    max-width: 300px;
}