.black {
    color: black !important;
}

@media (min-width: 960px){
    #posts-wrapper{
        width: 640px;
        position: relative;
        left:40vw;
        
    }
}
.posts {
    border-radius: 4px;
    padding-left: 40px;
    position: relative;
    background: rgb(255, 255, 255);
}