.black {
    color: black !important;
}
.createpost{
background-color: whitesmoke;
}

.createpost, h2{
text-align: center;
}

.createpost, input{
padding: 25px;
gap: 25px;
}

.createpostbuttondiv{

display: inline-block;
}
.createpostbutton{
background-color: skyblue;
}
.createpostbutton :hover{
background-color: black;
}
.postbody{
    width:75%;
    height: 200px;
     margin: 0 -100px;
}
.posttitle{
    width: 30%;
}
.postlink{
    width: 30%;
}

.postview{
    background-color: skyblue;
    color: white;
}